<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <title>cloudyspace | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="123" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Assects/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Assects/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Assects/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!-- webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- webfonts -->
    <!-- Add fancyBox main JS and CSS files -->
    <script src="~/Assects/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <link href="~/Assects/css/popup.css" rel="stylesheet" type="text/css">
    <link href="~/Assects/css/style.css" rel="stylesheet" />
    <script>$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});</script>
</head>
<body>
    <div>
    @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 box_1">
                <img src="~/Assects/images/cloudysp.png" alt="" / width="50" height="50"><p>CLOUDY SPACE</p>
            </div>
            <div class="col-md-3 box_2">
                <h4>Quick Links</h4>
                <ul class="list_2">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Domains</a></li>
                </ul>
                <ul class="list_2">
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 box_2">
                <h4>Contact Us</h4>
                <address class="address">
                    <dl>
                        <dt></dt>
                        <dd>Address : <span>Kannampalayam</span></dd>
                        <dd>E-mail : <a href="mailto@cloudyspace">info(at)cloudyspace.com</a></dd>
                        <dd>Call : <span> +91 9345001254</span></dd>
                    </dl>
                </address>
            </div>
            <div class="col-md-3 box_2">
                <h4>Social Media</h4>
                <ul class="footer_social">
                    <li><a href=""> <i class="fb"> </i> </a></li>
                    <li><a href=""><i class="tw"> </i> </a></li>
                    <li><a href=""><i class="linkedin"> </i> </a></li>
                    <li><a href=""><i class="google"> </i> </a></li>
                </ul>
            </div>
        </div>
    </div>
    <link href="~/Assects/css/flexslider.css" rel='stylesheet' type='text/css' />
    <script defer src="~/Assects/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</body>
</html>
